<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Listagem de Materiais</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container pt-5">

      <a th:href="@{/classificacaoMaterial/create}" class="btn btn-primary mb-3">
        Cadastrar Material
      </a>

      <h1>Listagem de Materiais</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Quantidade</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="material : ${listaMateriais}">
            <td th:text="${material.titulo}"></td>
            <td th:text="${material.autor}"></td>
            <td th:text="${material.ano}"></td>
            <td th:text="${material.quantidade}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>